USE [bdshoanvu_com]
GO
/****** Object:  Table [dbo].[ESHOP_BANNER]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_BANNER](
	[BANNER_ID] [int] IDENTITY(1,1) NOT NULL,
	[BANNER_DESC] [nvarchar](400) NULL,
	[BANNER_FILE] [nvarchar](1000) NULL,
	[BANNER_LANGUAGE] [int] NULL,
	[BANNER_ORDER] [int] NULL,
	[BANNER_PUBLISHDATE] [datetime] NULL,
	[BANNER_TYPE] [int] NULL,
	[BANNER_WIDTH] [int] NULL,
	[BANNER_HEIGHT] [int] NULL,
	[BANNER_FIELD1] [nvarchar](400) NULL,
	[BANNER_FIELD2] [nvarchar](400) NULL,
	[BANNER_FIELD3] [nvarchar](400) NULL,
	[BANNER_FIELD4] [nvarchar](400) NULL,
	[BANNER_FIELD5] [nvarchar](400) NULL,
 CONSTRAINT [PK_ESHOP_BANNER] PRIMARY KEY CLUSTERED 
(
	[BANNER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_AREA]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESHOP_AREA](
	[AREA_ID] [int] IDENTITY(1,1) NOT NULL,
	[AREA_CODE] [nvarchar](50) NULL,
	[AREA_NAME] [nvarchar](400) NULL,
	[AREA_DESC] [nvarchar](4000) NULL,
	[AREA_ACTIVE] [int] NULL,
	[AREA_PARENT_ID] [int] NULL,
	[AREA_PARENT_PATH] [varchar](400) NULL,
	[AREA_PRIORITY] [int] NULL,
	[AREA_RANK] [int] NULL,
	[AREA_FIELD1] [int] NULL,
	[AREA_FIELD2] [int] NULL,
	[AREA_FIELD3] [nvarchar](400) NULL,
	[AREA_FIELD4] [nvarchar](400) NULL,
	[AREA_SHIPPING_FEE] [money] NULL,
	[AREA_HOME_FEE] [money] NULL,
 CONSTRAINT [PK_ESHOP_AREA] PRIMARY KEY CLUSTERED 
(
	[AREA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESHOP_ALBUM_ITEM]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_ALBUM_ITEM](
	[ALBUM_ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[ALBUM_ITEM_DESC] [nvarchar](1000) NULL,
	[ALBUM_ITEM_IMAGE1] [nvarchar](400) NULL,
	[ALBUM_ITEM_IMAGE2] [nvarchar](400) NULL,
	[ALBUM_ITEM_IMAGE3] [nvarchar](400) NULL,
	[ALBUM_ITEM_URL] [nchar](200) NULL,
	[ALBUM_ITEM_AUTOPLAY] [int] NULL,
	[ALBUM_ITEM_PERIOD] [int] NULL,
	[ALBUM_ITEM_ORDER] [nvarchar](400) NULL,
	[ALBUM_ITEM_TYPE] [int] NULL,
	[ALBUM_ITEM_FIELD1] [nvarchar](400) NULL,
	[ALBUM_ITEM_FIELD2] [nvarchar](400) NULL,
	[ALBUM_ITEM_FIELD3] [nvarchar](400) NULL,
	[ALBUM_ITEM_FIELD4] [nvarchar](400) NULL,
	[ALBUM_ITEM_FIELD5] [nvarchar](400) NULL,
 CONSTRAINT [PK_ESHOP_ALBUM_ITEM] PRIMARY KEY CLUSTERED 
(
	[ALBUM_ITEM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_ALBUM]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_ALBUM](
	[ALBUM_ID] [int] IDENTITY(1,1) NOT NULL,
	[ALBUM_NAME] [nvarchar](500) NULL,
	[ALBUM_DESC] [nvarchar](500) NULL,
	[ALBUM_ORDER] [int] NULL,
	[ALBUM_ACTIVE] [smallint] NULL,
	[ALBUM_TYPE] [int] NULL,
	[ALBUM_LANGUAGE] [int] NULL,
	[ALBUM_IMAGE1] [nvarchar](500) NULL,
	[ALBUM_IMAGE2] [nvarchar](500) NULL,
	[ALBUM_FIELD1] [nvarchar](500) NULL,
	[ALBUM_FIELD2] [nvarchar](500) NULL,
	[ALBUM_FIELD3] [nvarchar](500) NULL,
	[ALBUM_FIELD4] [nvarchar](500) NULL,
	[ALBUM_FIELD5] [nvarchar](500) NULL,
 CONSTRAINT [PK_ESHOP_ALBUM] PRIMARY KEY CLUSTERED 
(
	[ALBUM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_AD_ITEM_CAT]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_AD_ITEM_CAT](
	[AD_ITEM_CAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[AD_ITEM_ID] [int] NULL,
	[CAT_ID] [int] NULL,
 CONSTRAINT [PK_ESHOP_AD_ITEM_CAT] PRIMARY KEY CLUSTERED 
(
	[AD_ITEM_CAT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_AD_ITEM]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_AD_ITEM](
	[AD_ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[AD_ITEM_CODE] [nvarchar](100) NULL,
	[AD_ITEM_FILENAME] [nvarchar](200) NULL,
	[AD_ITEM_DESC] [nvarchar](1000) NULL,
	[AD_ITEM_TYPE] [int] NULL,
	[AD_ITEM_HEIGHT] [int] NULL,
	[AD_ITEM_WIDTH] [int] NULL,
	[AD_ITEM_CLICKCOUNT] [int] NULL,
	[AD_ITEM_URL] [nvarchar](400) NULL,
	[AD_ITEM_PUBLISHDATE] [smalldatetime] NULL,
	[AD_ITEM_DATEFROM] [smalldatetime] NULL,
	[AD_ITEM_DATETO] [smalldatetime] NULL,
	[AD_ITEM_ORDER] [int] NULL,
	[AD_ITEM_POSITION] [int] NULL,
	[AD_ITEM_TARGET] [nvarchar](50) NULL,
	[AD_ITEM_COUNT] [int] NULL,
	[AD_ITEM_LANGUAGE] [int] NULL,
	[AD_ITEM_FIELD1] [nvarchar](4000) NULL,
	[AD_ITEM_FIELD2] [nvarchar](4000) NULL,
	[AD_ITEM_FIELD3] [nvarchar](4000) NULL,
	[AD_ITEM_FIELD4] [nvarchar](4000) NULL,
	[AD_ITEM_FIELD5] [nvarchar](4000) NULL,
 CONSTRAINT [PK_ESHOP_AD_ITEM] PRIMARY KEY CLUSTERED 
(
	[AD_ITEM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [ntext] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_GROUP]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_GROUP](
	[GROUP_ID] [int] IDENTITY(1,1) NOT NULL,
	[GROUP_CODE] [nvarchar](50) NULL,
	[GROUP_NAME] [nvarchar](400) NULL,
	[GROUP_TYPE] [int] NULL,
 CONSTRAINT [PK_ESHOP_GROUPS] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_GIFT]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_GIFT](
	[GIFT_ID] [int] IDENTITY(1,1) NOT NULL,
	[GIFT_NAME] [nvarchar](400) NULL,
	[GIFT_DESC] [ntext] NULL,
	[GIFT_IMAGE] [nvarchar](100) NULL,
	[GIFT_POINT] [int] NULL,
	[GIFT_AMOUNT] [int] NULL,
	[GIFT_MAX_AMOUNT] [int] NULL,
	[GIFT_CONTENT] [ntext] NULL,
	[GIFT_PULISHDATE] [smalldatetime] NULL,
 CONSTRAINT [PK_ESHOP_GIFT] PRIMARY KEY CLUSTERED 
(
	[GIFT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_EXT_FILE]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_EXT_FILE](
	[EXT_FILE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXT_FILE_NAME] [nvarchar](50) NULL,
	[EXT_FILE_IMAGE] [nvarchar](200) NULL,
	[EXT_FILE_DESC] [nvarchar](400) NULL,
 CONSTRAINT [PK_ESHOP_EXT_FILE] PRIMARY KEY CLUSTERED 
(
	[EXT_FILE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_EMAIL]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_EMAIL](
	[EMAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL_STT] [int] NULL,
	[EMAIL_DESC] [nvarchar](255) NULL,
	[EMAIL_FROM] [nvarchar](255) NULL,
	[EMAIL_TO] [nvarchar](255) NULL,
	[EMAIL_CC] [nvarchar](255) NULL,
	[EMAIL_BCC] [nvarchar](255) NULL,
 CONSTRAINT [PK_ESHOP_EMAIL] PRIMARY KEY CLUSTERED 
(
	[EMAIL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_CUSTOMER]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_CUSTOMER](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_FULLNAME] [nvarchar](200) NULL,
	[CUSTOMER_UN] [nvarchar](255) NULL,
	[CUSTOMER_PW] [nvarchar](50) NULL,
	[CUSTOMER_SEX] [tinyint] NULL,
	[CUSTOMER_ADDRESS] [ntext] NULL,
	[CUSTOMER_PHONE1] [nvarchar](50) NULL,
	[CUSTOMER_PHONE2] [nvarchar](50) NULL,
	[CUSTOMER_EMAIL] [nvarchar](255) NULL,
	[CUSTOMER_NEWSLETTER] [int] NULL,
	[CUSTOMER_FIELD1] [nvarchar](200) NULL,
	[CUSTOMER_FIELD2] [nvarchar](200) NULL,
	[CUSTOMER_FIELD3] [nvarchar](200) NULL,
	[CUSTOMER_FIELD4] [nvarchar](200) NULL,
	[CUSTOMER_FIELD5] [nvarchar](200) NULL,
	[CUSTOMER_PUBLISHDATE] [smalldatetime] NULL,
	[CUSTOMER_UPDATE] [smalldatetime] NULL,
	[CUSTOMER_SHOWTYPE] [tinyint] NULL,
	[CUSTOMER_OID] [uniqueidentifier] NULL,
	[CUSTOMER_TOTAL_POINT] [int] NULL,
	[CUSTOMER_USED] [int] NULL,
	[CUSTOMER_REMAIN] [int] NULL,
	[CUSTOMER_UPDATE_POINT] [smalldatetime] NULL,
 CONSTRAINT [PK_ESHOP_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_CONTACT_BOOKING]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_CONTACT_BOOKING](
	[CONT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONT_HOTEL_TITLE] [nvarchar](150) NULL,
	[CONT_DAY1] [datetime] NULL,
	[CONT_DAY2] [datetime] NULL,
	[CONT_CLASS_TYPE] [int] NULL,
	[CONT_PEOPLE1] [int] NULL,
	[CONT_PEOPLE2] [int] NULL,
	[CONT_PEOPLE3] [int] NULL,
	[CONT_FULLNAME] [nvarchar](150) NULL,
	[CONT_MAIL] [nvarchar](150) NULL,
	[CONT_PHONE] [nvarchar](150) NULL,
	[CONT_PUBLISDATE] [datetime] NULL,
	[ORDER_STATUS] [int] NULL,
 CONSTRAINT [PK_ESHOP_CONTACT_BOOKING] PRIMARY KEY CLUSTERED 
(
	[CONT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_CONTACT]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_CONTACT](
	[CONTACT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTACT_NAME] [nvarchar](255) NULL,
	[CONTACT_EMAIL] [nvarchar](255) NULL,
	[CONTACT_PHONE] [nvarchar](50) NULL,
	[CONTACT_ADDRESS] [nvarchar](255) NULL,
	[CONTACT_TITLE] [nvarchar](400) NULL,
	[CONTACT_CONTENT] [nvarchar](4000) NULL,
	[CONTACT_ATT1] [nvarchar](1000) NULL,
	[CONTACT_ATT2] [nvarchar](1000) NULL,
	[CONTACT_ATT3] [nvarchar](1000) NULL,
	[CONTACT_ATT4] [nvarchar](1000) NULL,
	[CONTACT_ATT5] [nvarchar](1000) NULL,
	[CONTACT_PUBLISHDATE] [smalldatetime] NOT NULL,
	[CONTACT_ANSWER] [nvarchar](4000) NULL,
	[CONTACT_SHOWTYPE] [int] NULL,
	[CONTACT_TYPE] [int] NULL,
 CONSTRAINT [PK_ESHOP_CONTACT] PRIMARY KEY CLUSTERED 
(
	[CONTACT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_CONFIG]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_CONFIG](
	[CONFIG_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONFIG_TITLE] [nvarchar](1000) NULL,
	[CONFIG_KEYWORD] [nvarchar](4000) NULL,
	[CONFIG_DESCRIPTION] [nvarchar](4000) NULL,
	[CONFIG_HITCOUNTER] [int] NULL,
	[CONFIG_FAVICON] [nvarchar](400) NULL,
	[CONFIG_ORDER] [int] NULL,
	[CONFIG_LANGUAGE] [int] NULL,
	[CONFIG_FIELD1] [nvarchar](400) NULL,
	[CONFIG_FIELD2] [nvarchar](400) NULL,
	[CONFIG_FIELD3] [nvarchar](400) NULL,
	[CONFIG_FIELD4] [nvarchar](400) NULL,
	[CONFIG_FIELD5] [nvarchar](400) NULL,
	[CONFIG_TITLE_EN] [nvarchar](1000) NULL,
	[CONFIG_KEYWORD_EN] [nvarchar](4000) NULL,
	[CONFIG_DESCRIPTION_EN] [nvarchar](4000) NULL,
 CONSTRAINT [PK_ESHOP_CONFIG] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_CATEGORIES]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESHOP_CATEGORIES](
	[CAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAT_CODE] [nvarchar](50) NULL,
	[CAT_NAME] [nvarchar](400) NULL,
	[CAT_DESC] [nvarchar](4000) NULL,
	[CAT_URL] [nvarchar](4000) NULL,
	[CAT_TARGET] [nvarchar](50) NULL,
	[CAT_STATUS] [int] NULL,
	[CAT_ACCESS] [int] NULL,
	[CAT_POSITION] [int] NULL,
	[CAT_SHOWFOOTER] [int] NULL,
	[CAT_ORDER] [int] NULL,
	[CAT_PARENT_ID] [int] NULL,
	[CAT_PARENT_PATH] [varchar](400) NULL,
	[CAT_RANK] [int] NULL,
	[CAT_ROWITEM] [int] NULL,
	[CAT_PAGEITEM] [int] NULL,
	[CAT_SHOWITEM] [int] NULL,
	[CAT_PERIOD] [int] NULL,
	[CAT_PERIOD_ORDER] [int] NULL,
	[CAT_TYPE] [int] NULL,
	[CAT_LANGUAGE] [int] NULL,
	[CAT_COUNT] [int] NULL,
	[CAT_SEO_TITLE] [nvarchar](400) NULL,
	[CAT_SEO_DESC] [nvarchar](4000) NULL,
	[CAT_SEO_KEYWORD] [nvarchar](4000) NULL,
	[CAT_SEO_URL] [nvarchar](4000) NULL,
	[CAT_IMAGE1] [nvarchar](400) NULL,
	[CAT_IMAGE2] [nvarchar](400) NULL,
	[CAT_HISTORY] [nvarchar](1000) NULL,
	[CAT_FIELD1] [nvarchar](400) NULL,
	[CAT_FIELD2] [nvarchar](400) NULL,
	[CAT_FIELD3] [nvarchar](400) NULL,
	[CAT_FIELD4] [nvarchar](400) NULL,
	[CAT_FIELD5] [nvarchar](400) NULL,
	[CAT_CODE_EN] [nvarchar](50) NULL,
	[CAT_NAME_EN] [nvarchar](400) NULL,
	[CAT_DESC_EN] [nvarchar](4000) NULL,
	[CAT_SEO_TITLE_EN] [nvarchar](400) NULL,
	[CAT_SEO_DESC_EN] [nvarchar](4000) NULL,
	[CAT_SEO_KEYWORD_EN] [nvarchar](4000) NULL,
	[CAT_SEO_URL_EN] [nvarchar](4000) NULL,
	[CAT_IMAGE3] [nvarchar](400) NULL,
 CONSTRAINT [PK_ESHOP_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[CAT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESHOP_CAT_IMG]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_CAT_IMG](
	[CAT_IMG_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAT_IMG_NAME] [nvarchar](550) NULL,
	[CAT_ID] [int] NULL,
 CONSTRAINT [PK_ESHOP_CAT_IMG] PRIMARY KEY CLUSTERED 
(
	[CAT_IMG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_ONLINE]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_ONLINE](
	[ONLINE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ONLINE_NICKNAME] [nvarchar](100) NULL,
	[ONLINE_DESC] [nvarchar](400) NULL,
	[ONLINE_ORDER] [int] NULL,
	[ONLINE_TYPE] [int] NULL,
	[ONLINE_IMAGE] [nvarchar](1000) NULL,
	[ONLINE_LANGUAGE] [int] NULL,
	[ONLINE_FIELD1] [nvarchar](400) NULL,
	[ONLINE_FIELD2] [nvarchar](400) NULL,
	[ONLINE_FIELD3] [nvarchar](400) NULL,
	[ONLINE_DESC_EN] [nvarchar](400) NULL,
 CONSTRAINT [PK_ESHOP_ONLINE] PRIMARY KEY CLUSTERED 
(
	[ONLINE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_NEWS_PROPERTIES]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_NEWS_PROPERTIES](
	[NEWS_PROP_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NEWS_ID] [int] NULL,
	[PROP_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_ESHOP_NEWS_PROPERTIES] PRIMARY KEY CLUSTERED 
(
	[NEWS_PROP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_NEWS_NEWS]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_NEWS_NEWS](
	[NEWS_NEWS_ID] [int] IDENTITY(1,1) NOT NULL,
	[NEWS_ID1] [int] NULL,
	[NEWS_ID2] [int] NULL,
 CONSTRAINT [PK_NEWS_NEWS] PRIMARY KEY CLUSTERED 
(
	[NEWS_NEWS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_MAIL_RECIVE]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_MAIL_RECIVE](
	[MAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[MAIL_NAME] [nvarchar](50) NULL,
	[MAIL_ACTIVE] [int] NULL,
 CONSTRAINT [PK_ESHOP_MAIL_RECIVE] PRIMARY KEY CLUSTERED 
(
	[MAIL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_HITCOUNTER]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_HITCOUNTER](
	[HIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[HIT_DATE] [datetime] NULL,
	[HIT_VALUE] [bigint] NULL,
 CONSTRAINT [PK_ESHOP_HITCOUNTER] PRIMARY KEY CLUSTERED 
(
	[HIT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_UNITS]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_UNITS](
	[UNIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIT_NAME] [nvarchar](50) NULL,
	[UNIT_DESC] [nvarchar](400) NULL,
 CONSTRAINT [PK_ESHOP_UNITS] PRIMARY KEY CLUSTERED 
(
	[UNIT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_QUOTE_NEWS]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_QUOTE_NEWS](
	[QUO_ID] [int] IDENTITY(1,1) NOT NULL,
	[QUO_EMAIL] [nvarchar](400) NULL,
	[QUO_ACTIVE] [smallint] NULL,
	[QUO_PUBLISHDATE] [datetime] NULL,
 CONSTRAINT [PK_ESHOP_QUOTE_NES] PRIMARY KEY CLUSTERED 
(
	[QUO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_PROPERTIES]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESHOP_PROPERTIES](
	[PROP_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PROP_NAME] [nvarchar](200) NULL,
	[PROP_DESC] [ntext] NULL,
	[PROP_PARENT_ID] [numeric](18, 0) NULL,
	[PROP_ACTIVE] [int] NULL,
	[PROP_RANK] [int] NULL,
	[PROP_SHIPPING_FEE] [money] NULL,
	[PROP_CODE] [varchar](50) NULL,
	[PROP_PARENT_PATH] [varchar](400) NULL,
	[PROP_PRIORITY] [int] NULL,
 CONSTRAINT [PK_ESHOP_PROPERTIES] PRIMARY KEY CLUSTERED 
(
	[PROP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESHOP_POINT]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_POINT](
	[POINT_ID] [int] IDENTITY(1,1) NOT NULL,
	[POINT_POINT_TO_MONEY] [int] NULL,
	[POINT_MONEY_TO_POINT] [int] NULL,
	[POINT_UPDATEDATE] [datetime] NULL,
	[POINT_FIELD1] [nvarchar](400) NULL,
	[POINT_FIELD2] [nvarchar](400) NULL,
	[POINT_FIELD3] [nvarchar](400) NULL,
	[POINT_FIELD4] [nvarchar](400) NULL,
	[POINT_FIELD5] [nvarchar](400) NULL,
 CONSTRAINT [PK_ESHOP_POINT] PRIMARY KEY CLUSTERED 
(
	[POINT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_PERMISSION]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_PERMISSION](
	[PER_ID] [int] IDENTITY(1,1) NOT NULL,
	[PER_NAME] [nvarchar](200) NULL,
	[PER_URL] [nvarchar](400) NULL,
	[PER_RANK] [smallint] NULL,
	[PER_ORDER] [int] NULL,
	[PER_PARENT_ID] [int] NULL,
 CONSTRAINT [PK_ESHOP_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[PER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_CONTACT]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_CONTACT](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[NEWS_ID] [int] NULL,
	[ORDER_QUANTITY] [int] NULL,
	[ORDER_USERNAME] [nvarchar](250) NULL,
	[ORDER_EMAIL] [nvarchar](250) NULL,
	[ORDER_ADD] [nvarchar](250) NULL,
	[ORDER_PHONE] [nvarchar](250) NULL,
	[ORDER_REMARK] [nvarchar](1550) NULL,
	[ODER_DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_ORDER_CONTACT] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[News](
	[news_id] [int] IDENTITY(1,1) NOT NULL,
	[news_title] [ntext] NULL,
	[news_content] [ntext] NULL,
	[news_image] [varchar](50) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [dbo].[fClearUnicode]    Script Date: 01/01/2015 18:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Hàm chuyển có dầu thành không dấu
-- Create By LucNV
CREATE FUNCTION [dbo].[fClearUnicode]
(
      @strInput NVARCHAR(4000)
) 
RETURNS NVARCHAR(4000)
AS
Begin
	-- Lọc các ký tự đặc biệt
	Set @strInput=lower(@strInput) 
    IF @strInput IS NULL RETURN @strInput
    IF @strInput = '' RETURN @strInput
--    Declare @text nvarchar(50), @i int
--    Set @text='-''`~!@#$%^&*()?><:|}{,./\"''='''
--    Select @i= PATINDEX('%['+@text+']%',@strInput ) 
--    while @i > 0
--        begin
--	        set @strInput = replace(@strInput, substring(@strInput, @i, 1), '')
--	        set @i = patindex('%['+@text+']%', @strInput)
--        End
--        Set @strInput =replace(@strInput,'  ',' ')
        
    DECLARE @RT NVARCHAR(4000)
    DECLARE @SIGN_CHARS NCHAR(136)
    DECLARE @UNSIGN_CHARS NCHAR (136)
    SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế
                  ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý'
                  +NCHAR(272)+ NCHAR(208)
    SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee
                  iiiiiooooooooooooooouuuuuuuuuuyyyyy'
    DECLARE @COUNTER int
    DECLARE @COUNTER1 int
    SET @COUNTER = 1
    WHILE (@COUNTER <=LEN(@strInput))
    BEGIN   
      SET @COUNTER1 = 1
       WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1)
       BEGIN
     IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) 
            = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) )
     BEGIN           
          IF @COUNTER=1
              SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) 
              + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1)                   
          ELSE
              SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) 
              +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) 
              + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER)
              BREAK
               END
             SET @COUNTER1 = @COUNTER1 +1
       END
       SET @COUNTER = @COUNTER +1
    End
 --SET @strInput = replace(@strInput,' ','-')
    RETURN lower(@strInput)
End
GO
/****** Object:  Table [dbo].[ESHOP_WEBLINKS]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_WEBLINKS](
	[WEBSITE_LINKS_ID] [int] IDENTITY(1,1) NOT NULL,
	[WEBSITE_LINKS_NAME] [nvarchar](400) NULL,
	[WEBSITE_LINKS_URL] [nvarchar](1000) NULL,
	[WEBSITE_LINKS_TARGET] [nvarchar](50) NULL,
	[WEBSITE_LINKS_LANGUAGE] [int] NULL,
	[WEBSITE_LINKS_ORDER] [int] NULL,
 CONSTRAINT [PK_ESHOP_WEBLINKS] PRIMARY KEY CLUSTERED 
(
	[WEBSITE_LINKS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_USER_GIFT]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_USER_GIFT](
	[USER_GIFT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[GIFT_ID] [int] NULL,
	[USER_GIFT_DATE] [smalldatetime] NULL,
	[USER_GIFT_STATUS] [int] NULL,
	[USER_GIFT_QUANTITY] [int] NULL,
	[USER_GIFT_DESC] [nvarchar](1000) NULL,
	[USER_GIFT_FEILD] [nvarchar](400) NULL,
	[USER_GIFT_FIELD1] [nvarchar](400) NULL,
	[USER_GIFT_FIELD2] [nvarchar](400) NULL,
	[USER_GIFT_FIELD3] [nvarchar](400) NULL,
	[USER_GIFT_FIELD4] [nvarchar](400) NULL,
	[USER_GIFT_FIELD5] [nvarchar](400) NULL,
 CONSTRAINT [PK_ESHOP_USER_GIFT] PRIMARY KEY CLUSTERED 
(
	[USER_GIFT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_USER_CAT]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_USER_CAT](
	[USER_CAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[CAT_ID] [int] NULL,
 CONSTRAINT [PK_ESHOP_USER_CAT] PRIMARY KEY CLUSTERED 
(
	[USER_CAT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_USER]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESHOP_USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](100) NULL,
	[USER_UN] [varchar](50) NULL,
	[USER_PW] [varchar](50) NULL,
	[GROUP_ID] [int] NULL,
	[USER_TYPE] [int] NULL,
	[USER_ACTIVE] [int] NULL,
	[SALT] [varchar](50) NULL,
	[USER_FIELD1] [nvarchar](400) NULL,
	[USER_FIELD2] [nvarchar](400) NULL,
	[USER_FIELD3] [nvarchar](400) NULL,
	[USER_FIELD4] [nvarchar](400) NULL,
	[USER_EMAIL] [nvarchar](400) NULL,
	[USER_ADDRESS] [nvarchar](400) NULL,
	[USER_PHONE] [nvarchar](400) NULL,
	[USER_ACTIVE_CODE] [nvarchar](400) NULL,
	[USER_DATE] [datetime] NULL,
 CONSTRAINT [PK_ESHOP_USERS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_ESHOP_HITCOUNTER]    Script Date: 01/01/2015 18:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<LUCNV>
-- Create date: <21-12-2012>
-- Description:	<>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ESHOP_HITCOUNTER]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--DECLARE
	DECLARE @ROW INT
	DECLARE @LAST_ID INT
	DECLARE @LAST_VALUE BIGINT
	DECLARE @LAST_DATE DATETIME

	SELECT @ROW=COUNT(*) FROM ESHOP_HITCOUNTER
	
    IF(@ROW=0)
		BEGIN
			--NEU CHUA CO DONG DU LIEU THI THEM MOI
			INSERT INTO ESHOP_HITCOUNTER(HIT_DATE,HIT_VALUE) VALUES(GETDATE(),1)
			SELECT @LAST_ID=MAX(HIT_ID) FROM ESHOP_HITCOUNTER
		END
	ELSE
		BEGIN
			SELECT @LAST_ID=MAX(HIT_ID) FROM ESHOP_HITCOUNTER
			SELECT @LAST_VALUE=hit.HIT_VALUE, @LAST_DATE=hit.HIT_DATE
			FROM ESHOP_HITCOUNTER hit
			WHERE hit.HIT_ID=@LAST_ID
			
			IF (@LAST_VALUE IS NULL) SET @LAST_VALUE=0
			IF (@LAST_DATE IS NULL) SET @LAST_DATE=GETDATE()

			--BAT DAU UPDATE LUOT TRUY CAP
			--NEU LA NGAY MOI THI THEM 1 DONG
			--NEU KHONG PHAI NGAY MOI THI UPDATE
			IF(DAY(@LAST_DATE)=DAY(GETDATE()))
				BEGIN
					UPDATE ESHOP_HITCOUNTER
					SET
						HIT_VALUE=HIT_VALUE+1,
						HIT_DATE=GETDATE()
					WHERE HIT_ID=@LAST_ID
				END
			ELSE
				BEGIN
					INSERT INTO ESHOP_HITCOUNTER(HIT_DATE,HIT_VALUE) VALUES(GETDATE(),1)
				END
		END
	
	SELECT @LAST_VALUE=hit.HIT_VALUE, @LAST_DATE=hit.HIT_DATE
			FROM ESHOP_HITCOUNTER hit
			WHERE hit.HIT_ID=@LAST_ID

	SELECT @LAST_VALUE AS TODATE_VALUE 	
END
GO
/****** Object:  Table [dbo].[Product]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [ntext] NOT NULL,
	[description] [ntext] NULL,
	[category_id] [int] NOT NULL,
	[product_new] [nchar](10) NULL,
	[product_hot] [nchar](10) NULL,
	[product_image] [varchar](50) NULL,
	[product_price] [nvarchar](50) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESHOP_NEWS]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESHOP_NEWS](
	[NEWS_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[NEWS_CODE] [nvarchar](100) NULL,
	[NEWS_TITLE] [nvarchar](500) NULL,
	[NEWS_DESC] [nvarchar](4000) NULL,
	[NEWS_SEO_KEYWORD] [nvarchar](4000) NULL,
	[NEWS_SEO_DESC] [nvarchar](4000) NULL,
	[NEWS_SEO_URL] [nvarchar](1000) NULL,
	[NEWS_SEO_TITLE] [nvarchar](500) NULL,
	[NEWS_FILEHTML] [nvarchar](200) NULL,
	[NEWS_PUBLISHDATE] [datetime] NULL,
	[NEWS_UPDATE] [datetime] NULL,
	[NEWS_URL] [nvarchar](1000) NULL,
	[NEWS_TARGET] [nvarchar](50) NULL,
	[NEWS_SHOWTYPE] [int] NULL,
	[NEWS_SHOWINDETAIL] [int] NULL,
	[NEWS_FEEDBACKTYPE] [int] NULL,
	[NEWS_TYPE] [int] NULL,
	[NEWS_LANGUAGE] [int] NULL,
	[NEWS_PRINTTYPE] [int] NULL,
	[NEWS_COUNT] [int] NULL,
	[NEWS_PERIOD] [int] NULL,
	[NEWS_ORDER_PERIOD] [int] NULL,
	[NEWS_ORDER] [int] NULL,
	[NEWS_IMAGE1] [nvarchar](400) NULL,
	[NEWS_IMAGE2] [nvarchar](400) NULL,
	[NEWS_IMAGE3] [nvarchar](400) NULL,
	[NEWS_IMAGE4] [nvarchar](400) NULL,
	[NEWS_IMAGE5] [nvarchar](400) NULL,
	[NEWS_FIELD1] [nvarchar](400) NULL,
	[NEWS_FIELD2] [nvarchar](4000) NULL,
	[NEWS_FIELD3] [nvarchar](400) NULL,
	[NEWS_FIELD4] [nvarchar](400) NULL,
	[NEWS_FIELD5] [nvarchar](400) NULL,
	[NEWS_SENDEMAIL] [int] NULL,
	[NEWS_SENDDATE] [datetime] NULL,
	[NEWS_PRICE1] [money] NULL,
	[NEWS_PRICE2] [money] NULL,
	[NEWS_PRICE3] [money] NULL,
	[UNIT_ID1] [int] NULL,
	[UNIT_ID2] [int] NULL,
	[UNIT_ID3] [int] NULL,
	[NEWS_CODE_EN] [nvarchar](100) NULL,
	[NEWS_TITLE_EN] [nvarchar](500) NULL,
	[NEWS_DESC_EN] [nvarchar](4000) NULL,
	[NEWS_SEO_KEYWORD_EN] [nvarchar](4000) NULL,
	[NEWS_SEO_DESC_EN] [nvarchar](4000) NULL,
	[NEWS_SEO_URL_EN] [nvarchar](1000) NULL,
	[NEWS_SEO_TITLE_EN] [nvarchar](500) NULL,
	[NEWS_PACKAGE] [nvarchar](200) NULL,
	[NEWS_PACKAGE_EN] [nvarchar](200) NULL,
	[NEWS_MATERIAL] [nvarchar](500) NULL,
	[NEWS_MATERIAL_EN] [nvarchar](500) NULL,
	[NEWS_DIET] [nvarchar](500) NULL,
	[NEWS_DIET_EN] [nvarchar](500) NULL,
	[NEWS_FILEHTML_EN] [nvarchar](200) NULL,
	[NEWS_KEYWORD_ASCII] [varchar](4000) NULL,
	[NEWS_SOTRANG_THANG] [int] NULL,
	[NEWS_SONGUOISUDUNG] [int] NULL,
	[NEWS_KHOGIAY_TOIDA] [int] NULL,
	[NEWS_TN_PRINT] [int] NULL,
	[NEWS_TH_FAX] [int] NULL,
	[ID_HANGXE] [int] NULL,
	[ID_LOAIXE] [int] NULL,
	[ID_YEAR] [int] NULL,
	[ADDRESS] [nvarchar](350) NULL,
	[PHONE] [nvarchar](30) NULL,
	[GOOPMAPSLINK] [nvarchar](550) NULL,
	[EMAIL] [nvarchar](250) NULL,
 CONSTRAINT [PK_ESHOP_NEWS_1] PRIMARY KEY CLUSTERED 
(
	[NEWS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESHOP_GROUP_CAT]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_GROUP_CAT](
	[GROUP_CAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[GROUP_ID] [int] NULL,
	[CAT_ID] [int] NULL,
 CONSTRAINT [PK_ESHOP_GROUP-CAT] PRIMARY KEY CLUSTERED 
(
	[GROUP_CAT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_NEWS_IMAGE]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_NEWS_IMAGE](
	[NEWS_IMG_ID] [int] IDENTITY(1,1) NOT NULL,
	[NEWS_IMG_IMAGE1] [nvarchar](400) NULL,
	[NEWS_IMG_IMAGE2] [nvarchar](400) NULL,
	[NEWS_IMG_IMAGE3] [nvarchar](400) NULL,
	[NEWS_IMG_DESC] [nvarchar](400) NULL,
	[NEWS_IMG_ORDER] [int] NULL,
	[NEWS_IMG_SHOWTYPE] [int] NULL,
	[NEWS_ID] [int] NULL,
 CONSTRAINT [PK_SHOPASP_PRO_IMAGE] PRIMARY KEY CLUSTERED 
(
	[NEWS_IMG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_NEWS_COMMENT]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_NEWS_COMMENT](
	[COMMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[COMMENT_NAME] [nvarchar](400) NULL,
	[COMMENT_EMAIL] [nvarchar](400) NULL,
	[COMMENT_CONTENT] [nvarchar](1000) NULL,
	[COMMENT_STATUS] [int] NULL,
	[CUS_ID] [int] NULL,
	[COMMENT_FIELD1] [nvarchar](400) NULL,
	[COMMENT_FIELD2] [nvarchar](400) NULL,
	[COMMENT_FIELD3] [nvarchar](400) NULL,
	[NEWS_ID] [int] NULL,
	[COMMENT_PUBLISHDATE] [datetime] NULL,
	[COMMENT_CHECK] [int] NULL,
 CONSTRAINT [PK_NEWS_COMMENT] PRIMARY KEY CLUSTERED 
(
	[COMMENT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_NEWS_CAT]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_NEWS_CAT](
	[NEWS_CAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NEWS_ID] [int] NULL,
	[CAT_ID] [int] NULL,
 CONSTRAINT [PK_ESHOP_NEWS_CAT] PRIMARY KEY CLUSTERED 
(
	[NEWS_CAT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_NEWS_ATT]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_NEWS_ATT](
	[NEWS_ATT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NEWS_ATT_NAME] [nvarchar](100) NULL,
	[NEWS_ATT_FILE] [nvarchar](1000) NULL,
	[NEWS_ATT_URL] [nvarchar](1000) NULL,
	[NEWS_ATT_ORDER] [int] NULL,
	[EXT_ID] [int] NULL,
	[NEWS_ID] [int] NULL,
	[NEWS_ATT_FIELD1] [nvarchar](400) NULL,
	[NEWS_ATT_FIELD2] [nvarchar](400) NULL,
	[NEWS_ATT_FIELD3] [nvarchar](400) NULL,
	[NEWS_ATT_FIELD4] [nvarchar](400) NULL,
	[NEWS_ATT_FIELD5] [nvarchar](400) NULL,
 CONSTRAINT [PK_ESHOP_NEWS_ATT] PRIMARY KEY CLUSTERED 
(
	[NEWS_ATT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_BASKET]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_BASKET](
	[BASKET_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[NEWS_ID] [int] NULL,
	[BASKET_PRICE] [money] NULL,
	[BASKET_QUANTITY] [float] NULL,
	[BASKET_PUBLISHDATE] [smalldatetime] NULL,
	[BASKET_UPDATE] [smalldatetime] NULL,
	[BASKET_FIELD1] [nvarchar](400) NULL,
	[BASKET_FIELD2] [nvarchar](400) NULL,
	[BASKET_FIELD3] [nvarchar](400) NULL,
	[BASKET_FIELD4] [nvarchar](400) NULL,
	[BASKET_FIELD5] [nvarchar](400) NULL,
	[CUSTOMER_OID] [uniqueidentifier] NULL,
	[BASKET_AMOUNT] [money] NULL,
 CONSTRAINT [PK_ESHOP_BASKET] PRIMARY KEY CLUSTERED 
(
	[BASKET_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_ORDER]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_ORDER](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[ORDER_CODE] [nvarchar](50) NULL,
	[ORDER_TOTAL_ALL] [money] NULL,
	[ORDER_PUBLISHDATE] [smalldatetime] NULL,
	[ORDER_UPDATE] [smalldatetime] NULL,
	[ORDER_FULLNAME] [nvarchar](200) NULL,
	[ORDER_PHONE] [nvarchar](50) NULL,
	[ORDER_EMAIL] [nvarchar](200) NULL,
	[ORDER_CONTENT] [nvarchar](750) NULL,
	[ORDER_ADDRESS] [nvarchar](4000) NULL,
	[ORDER_ADDRESS_PATH] [nvarchar](200) NULL,
	[ORDER_WEIGHT] [int] NULL,
	[ORDER_STATUS] [int] NULL,
	[ORDER_FIELD1] [nvarchar](400) NULL,
	[ORDER_FIELD2] [nvarchar](400) NULL,
	[ORDER_FIELD3] [int] NULL,
	[ORDER_FIELD4] [int] NULL,
	[ORDER_FIELD5] [nvarchar](400) NULL,
	[CUSTOMER_OID] [uniqueidentifier] NULL,
	[ORDER_PAYMENT] [int] NULL,
	[ORDER_BILL] [int] NULL,
	[ORDER_SHIPPING_FEE] [money] NULL,
	[ORDER_TOTAL_AMOUNT] [money] NULL,
	[NEWS_ID] [int] NULL,
	[ORDER_COMPANY] [nvarchar](550) NULL,
 CONSTRAINT [PK_ESHOP_ORDER] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESHOP_ORDER_ITEM]    Script Date: 01/01/2015 18:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESHOP_ORDER_ITEM](
	[ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_ID] [int] NULL,
	[NEWS_ID] [int] NULL,
	[UNIT_ID] [int] NULL,
	[ITEM_QUANTITY] [float] NULL,
	[ITEM_SUBTOTAL] [money] NULL,
	[ITEM_PUBLISDATE] [smalldatetime] NULL,
	[ITEM_UPDATE] [smalldatetime] NULL,
	[ITEM_PRICE] [money] NULL,
	[ITEM_FIELD1] [nvarchar](400) NULL,
	[ITEM_FIELD2] [nvarchar](400) NULL,
	[ITEM_FIELD3] [nvarchar](400) NULL,
	[ITEM_FIELD4] [nvarchar](400) NULL,
	[ITEM_FIELD6] [nvarchar](400) NULL,
 CONSTRAINT [PK_ESHOP_ORDER_ITEM] PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_ESHOP_AD_ITEM_AD_ITEM_PUBLISHDATE]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_AD_ITEM] ADD  CONSTRAINT [DF_ESHOP_AD_ITEM_AD_ITEM_PUBLISHDATE]  DEFAULT (getdate()) FOR [AD_ITEM_PUBLISHDATE]
GO
/****** Object:  Default [DF_ESHOP_ALBUM_ALBUM_NAME]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ALBUM] ADD  CONSTRAINT [DF_ESHOP_ALBUM_ALBUM_NAME]  DEFAULT ('') FOR [ALBUM_NAME]
GO
/****** Object:  Default [DF_ESHOP_ALBUM_ALBUM_DESC]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ALBUM] ADD  CONSTRAINT [DF_ESHOP_ALBUM_ALBUM_DESC]  DEFAULT ('') FOR [ALBUM_DESC]
GO
/****** Object:  Default [DF_ESHOP_ALBUM_ALBUM_ORDER]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ALBUM] ADD  CONSTRAINT [DF_ESHOP_ALBUM_ALBUM_ORDER]  DEFAULT ((1)) FOR [ALBUM_ORDER]
GO
/****** Object:  Default [DF_ESHOP_ALBUM_ALBUM_ACTIVE]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ALBUM] ADD  CONSTRAINT [DF_ESHOP_ALBUM_ALBUM_ACTIVE]  DEFAULT ((0)) FOR [ALBUM_ACTIVE]
GO
/****** Object:  Default [DF_Table_1_ALBUM_ITEMTYPE]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ALBUM] ADD  CONSTRAINT [DF_Table_1_ALBUM_ITEMTYPE]  DEFAULT ((0)) FOR [ALBUM_TYPE]
GO
/****** Object:  Default [DF_ESHOP_ALBUM_ALBUM_FIELD1]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ALBUM] ADD  CONSTRAINT [DF_ESHOP_ALBUM_ALBUM_FIELD1]  DEFAULT ('') FOR [ALBUM_FIELD1]
GO
/****** Object:  Default [DF_ESHOP_ALBUM_ALBUM_FIELD2]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ALBUM] ADD  CONSTRAINT [DF_ESHOP_ALBUM_ALBUM_FIELD2]  DEFAULT ('') FOR [ALBUM_FIELD2]
GO
/****** Object:  Default [DF_ESHOP_CATEGORIES_CAT_PARENT_ID]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_CATEGORIES] ADD  CONSTRAINT [DF_ESHOP_CATEGORIES_CAT_PARENT_ID]  DEFAULT ((0)) FOR [CAT_PARENT_ID]
GO
/****** Object:  Default [DF_ESHOP_CATEGORIES_CAT_COUNT]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_CATEGORIES] ADD  CONSTRAINT [DF_ESHOP_CATEGORIES_CAT_COUNT]  DEFAULT ((0)) FOR [CAT_COUNT]
GO
/****** Object:  Default [DF_ESHOP_CONTACT_CONTACT_PUBLISHDATE]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_CONTACT] ADD  CONSTRAINT [DF_ESHOP_CONTACT_CONTACT_PUBLISHDATE]  DEFAULT (getdate()) FOR [CONTACT_PUBLISHDATE]
GO
/****** Object:  Default [DF_ESHOP_CONTACT_CONTACT_SHOWTYPE]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_CONTACT] ADD  CONSTRAINT [DF_ESHOP_CONTACT_CONTACT_SHOWTYPE]  DEFAULT ((0)) FOR [CONTACT_SHOWTYPE]
GO
/****** Object:  Default [DF_ESHOP_CUSTOMER_CUSTOMER_TOTAL_POINT]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_CUSTOMER] ADD  CONSTRAINT [DF_ESHOP_CUSTOMER_CUSTOMER_TOTAL_POINT]  DEFAULT ((0)) FOR [CUSTOMER_TOTAL_POINT]
GO
/****** Object:  Default [DF_ESHOP_CUSTOMER_CUSTOMER_USED]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_CUSTOMER] ADD  CONSTRAINT [DF_ESHOP_CUSTOMER_CUSTOMER_USED]  DEFAULT ((0)) FOR [CUSTOMER_USED]
GO
/****** Object:  Default [DF_ESHOP_CUSTOMER_CUSTOMER_REMAIN]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_CUSTOMER] ADD  CONSTRAINT [DF_ESHOP_CUSTOMER_CUSTOMER_REMAIN]  DEFAULT ((0)) FOR [CUSTOMER_REMAIN]
GO
/****** Object:  Default [DF_ESHOP_NEWS_NEWS_UPDATE]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_NEWS] ADD  CONSTRAINT [DF_ESHOP_NEWS_NEWS_UPDATE]  DEFAULT (getdate()) FOR [NEWS_UPDATE]
GO
/****** Object:  Default [DF_ESHOP_ORDER_ORDER_PUBLISHDATE]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ORDER] ADD  CONSTRAINT [DF_ESHOP_ORDER_ORDER_PUBLISHDATE]  DEFAULT (getdate()) FOR [ORDER_PUBLISHDATE]
GO
/****** Object:  Default [DF_ESHOP_ORDER_ORDER_UPDATE]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ORDER] ADD  CONSTRAINT [DF_ESHOP_ORDER_ORDER_UPDATE]  DEFAULT (getdate()) FOR [ORDER_UPDATE]
GO
/****** Object:  Default [DF_ESHOP_ORDER_ORDER_STATUS]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ORDER] ADD  CONSTRAINT [DF_ESHOP_ORDER_ORDER_STATUS]  DEFAULT ((0)) FOR [ORDER_STATUS]
GO
/****** Object:  Default [DF_ESHOP_ORDER_ITEM_ITEM_PUBLISDATE]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ORDER_ITEM] ADD  CONSTRAINT [DF_ESHOP_ORDER_ITEM_ITEM_PUBLISDATE]  DEFAULT (getdate()) FOR [ITEM_PUBLISDATE]
GO
/****** Object:  Default [DF_ESHOP_ORDER_ITEM_ITEM_UPDATE]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ORDER_ITEM] ADD  CONSTRAINT [DF_ESHOP_ORDER_ITEM_ITEM_UPDATE]  DEFAULT (getdate()) FOR [ITEM_UPDATE]
GO
/****** Object:  Default [DF_Table_1_QUOTENEWS_PUBLISHDATE]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_QUOTE_NEWS] ADD  CONSTRAINT [DF_Table_1_QUOTENEWS_PUBLISHDATE]  DEFAULT (getdate()) FOR [QUO_PUBLISHDATE]
GO
/****** Object:  Default [DF_ESHOP_WEBLINKS_WEBSITE_LINKS_NAME]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_WEBLINKS] ADD  CONSTRAINT [DF_ESHOP_WEBLINKS_WEBSITE_LINKS_NAME]  DEFAULT ('') FOR [WEBSITE_LINKS_NAME]
GO
/****** Object:  Default [DF_ESHOP_WEBLINKS_WEBSITE_LINKS_URL]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_WEBLINKS] ADD  CONSTRAINT [DF_ESHOP_WEBLINKS_WEBSITE_LINKS_URL]  DEFAULT ('') FOR [WEBSITE_LINKS_URL]
GO
/****** Object:  Default [DF_ESHOP_WEBLINKS_WEBSITE_LINKS_TYPE]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_WEBLINKS] ADD  CONSTRAINT [DF_ESHOP_WEBLINKS_WEBSITE_LINKS_TYPE]  DEFAULT ((0)) FOR [WEBSITE_LINKS_TARGET]
GO
/****** Object:  Default [DF_ESHOP_WEBLINKS_WEBSITE_LINKS_LANGUAGETYPE]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_WEBLINKS] ADD  CONSTRAINT [DF_ESHOP_WEBLINKS_WEBSITE_LINKS_LANGUAGETYPE]  DEFAULT ((0)) FOR [WEBSITE_LINKS_LANGUAGE]
GO
/****** Object:  Default [DF_ESHOP_WEBLINKS_WEBSITE_LINKS_ORDER]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_WEBLINKS] ADD  CONSTRAINT [DF_ESHOP_WEBLINKS_WEBSITE_LINKS_ORDER]  DEFAULT ((0)) FOR [WEBSITE_LINKS_ORDER]
GO
/****** Object:  ForeignKey [FK_ESHOP_BASKET_ESHOP_NEWS]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_BASKET]  WITH CHECK ADD  CONSTRAINT [FK_ESHOP_BASKET_ESHOP_NEWS] FOREIGN KEY([NEWS_ID])
REFERENCES [dbo].[ESHOP_NEWS] ([NEWS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESHOP_BASKET] CHECK CONSTRAINT [FK_ESHOP_BASKET_ESHOP_NEWS]
GO
/****** Object:  ForeignKey [FK_ESHOP_GROUP_CAT_ESHOP_CATEGORIES]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_GROUP_CAT]  WITH CHECK ADD  CONSTRAINT [FK_ESHOP_GROUP_CAT_ESHOP_CATEGORIES] FOREIGN KEY([CAT_ID])
REFERENCES [dbo].[ESHOP_CATEGORIES] ([CAT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESHOP_GROUP_CAT] CHECK CONSTRAINT [FK_ESHOP_GROUP_CAT_ESHOP_CATEGORIES]
GO
/****** Object:  ForeignKey [FK_ESHOP_GROUP_CAT_ESHOP_GROUP]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_GROUP_CAT]  WITH CHECK ADD  CONSTRAINT [FK_ESHOP_GROUP_CAT_ESHOP_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[ESHOP_GROUP] ([GROUP_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESHOP_GROUP_CAT] CHECK CONSTRAINT [FK_ESHOP_GROUP_CAT_ESHOP_GROUP]
GO
/****** Object:  ForeignKey [FK_ESHOP_NEWS_ATT_ESHOP_NEWS]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_NEWS_ATT]  WITH CHECK ADD  CONSTRAINT [FK_ESHOP_NEWS_ATT_ESHOP_NEWS] FOREIGN KEY([NEWS_ID])
REFERENCES [dbo].[ESHOP_NEWS] ([NEWS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESHOP_NEWS_ATT] CHECK CONSTRAINT [FK_ESHOP_NEWS_ATT_ESHOP_NEWS]
GO
/****** Object:  ForeignKey [FK_ESHOP_NEWS_CAT_ESHOP_CATEGORIES]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_NEWS_CAT]  WITH CHECK ADD  CONSTRAINT [FK_ESHOP_NEWS_CAT_ESHOP_CATEGORIES] FOREIGN KEY([CAT_ID])
REFERENCES [dbo].[ESHOP_CATEGORIES] ([CAT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESHOP_NEWS_CAT] CHECK CONSTRAINT [FK_ESHOP_NEWS_CAT_ESHOP_CATEGORIES]
GO
/****** Object:  ForeignKey [FK_ESHOP_NEWS_CAT_ESHOP_NEWS]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_NEWS_CAT]  WITH CHECK ADD  CONSTRAINT [FK_ESHOP_NEWS_CAT_ESHOP_NEWS] FOREIGN KEY([NEWS_ID])
REFERENCES [dbo].[ESHOP_NEWS] ([NEWS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESHOP_NEWS_CAT] CHECK CONSTRAINT [FK_ESHOP_NEWS_CAT_ESHOP_NEWS]
GO
/****** Object:  ForeignKey [FK_ESHOP_NEWS_COMMENT_ESHOP_NEWS]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_NEWS_COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_ESHOP_NEWS_COMMENT_ESHOP_NEWS] FOREIGN KEY([NEWS_ID])
REFERENCES [dbo].[ESHOP_NEWS] ([NEWS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESHOP_NEWS_COMMENT] CHECK CONSTRAINT [FK_ESHOP_NEWS_COMMENT_ESHOP_NEWS]
GO
/****** Object:  ForeignKey [FK_ESHOP_NEWS_IMAGE_ESHOP_NEWS]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_NEWS_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK_ESHOP_NEWS_IMAGE_ESHOP_NEWS] FOREIGN KEY([NEWS_ID])
REFERENCES [dbo].[ESHOP_NEWS] ([NEWS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESHOP_NEWS_IMAGE] CHECK CONSTRAINT [FK_ESHOP_NEWS_IMAGE_ESHOP_NEWS]
GO
/****** Object:  ForeignKey [FK_ESHOP_ORDER_ESHOP_NEWS]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ESHOP_ORDER_ESHOP_NEWS] FOREIGN KEY([NEWS_ID])
REFERENCES [dbo].[ESHOP_NEWS] ([NEWS_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ESHOP_ORDER] CHECK CONSTRAINT [FK_ESHOP_ORDER_ESHOP_NEWS]
GO
/****** Object:  ForeignKey [FK_ESHOP_ORDER_ITEM_ESHOP_NEWS]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ESHOP_ORDER_ITEM_ESHOP_NEWS] FOREIGN KEY([NEWS_ID])
REFERENCES [dbo].[ESHOP_NEWS] ([NEWS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESHOP_ORDER_ITEM] CHECK CONSTRAINT [FK_ESHOP_ORDER_ITEM_ESHOP_NEWS]
GO
/****** Object:  ForeignKey [FK_ESHOP_ORDER_ITEM_ESHOP_ORDER]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ESHOP_ORDER_ITEM_ESHOP_ORDER] FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[ESHOP_ORDER] ([ORDER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESHOP_ORDER_ITEM] CHECK CONSTRAINT [FK_ESHOP_ORDER_ITEM_ESHOP_ORDER]
GO
/****** Object:  ForeignKey [FK_ESHOP_USER_ESHOP_GROUP]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[ESHOP_USER]  WITH CHECK ADD  CONSTRAINT [FK_ESHOP_USER_ESHOP_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[ESHOP_GROUP] ([GROUP_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESHOP_USER] CHECK CONSTRAINT [FK_ESHOP_USER_ESHOP_GROUP]
GO
/****** Object:  ForeignKey [FK_Product_Category]    Script Date: 01/01/2015 18:25:59 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
